

}

@media only screen and (max-width: 600px) {
    .navbar {
        font-size: 0.5em;
        padding: 0;
    }
}

/*.hub {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    height: 50vh;
}*/

h1 {
	list-style: none;
	text-decoration: none;
}
img {
	float: left;
}

h2  {
	color:#FFFFFF;
	text-align: center;
	/*border: solid 2px rgba(0,0,100,0.4);*/
	cursor: pointer;
	font-family: 'Amita';font-size: 22px;

}

#about {
	color: #ffffff;
	text-alignhub
	text-transform: uppercase;
	line-height: 50px;
	font-style: italic;
	font-weight: bold;
	font-size: 100%;
	font-family: 'Amita';font-size: 18px;
}

.hub {
	text-decoration: none;
	list-style: none;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Amita';font-size: 18px;
}